<?xml version="1.0"?>
  <connectionStrings>
    <add name="EFDbContext" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=SportsStoreDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ScottContext" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=SportsStoreDBNOTUSED;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
